:root {
    --bs-body-color: #fffffe;
    --bs-body-color: #2d334a;
    --bs-link-color-rgb: #2d334a;
}
.navbar-nav {
    --bs-nav-link-color: #2d334a;
    --bs-nav-link-hover-color: #0f78c9;
    --bs-navbar-active-color: #1d2029;
    
}
.nav-link.dropdown-toggle:hover {
    color: #0f78c9;;
}
.dropdown-menu {
    --bs-nav-link-color: #2d334a;
    --bs-dropdown-link-color: #2d334a;
    --bs-dropdown-link-hover-color: #0f78c9;
}
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0f78c9;
    --bs-btn-border-color: #0f78c9;
    --bs-btn-hover-color: #fff;;
    --bs-btn-hover-bg: #270dd3;
    --bs-btn-hover-border-color: #34268f;;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;;
    --bs-btn-active-bg: #34268f;;
    --bs-btn-active-border-color: #34268f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;;
    --bs-btn-disabled-bg: #abc0d1;
    --bs-btn-disabled-border-color: #abc0d1;
}

.list-group {
    --bs-list-group-color: var(--bs-body-color);
    --bs-list-group-bg: var(--bs-body-bg);
    --bs-list-group-border-color: var(--bs-border-color);
    --bs-list-group-border-width: var(--bs-border-width);
    --bs-list-group-border-radius: none;
}

a {
    text-decoration: none;
    transition: color .3s ease;
}
a:hover {
    color: #0f78c9;
}

.header__search .form-control,
.header__search .btn {
    --bs-border-color: #0f78c9;
    --bs-border-radius: none;
}

.form-control:focus {
    box-shadow: none;
    --bs-border-color: #d8eefe;
}

.header__logo {
    margin-bottom: 20px;
}


.header .shopping-cart .products,
.header .shopping-cart .prices {
    font-size: 0.8rem;
}

.header .shopping-cart .btn:hover svg {
    fill: #0f78c9;
}


.header .shopping-cart {
    margin-top: 20px;
}

.category-menu {
    position: relative;
}

.category-menu__nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}





.category-menu .btn.active {
        border-radius: var(--bs-border-radius) var(--bs-border-radius) 0 0;
    }


@media(min-width: 768px) {
    .logo .logo__img {
        width: 100%;
    }
    .header__logo {
    margin-bottom: 0;
    }
    .header .shopping-cart {
        justify-content: flex-end;
        margin-top: 0;
    }

    /* Menu start*/
    .category-menu__nav {
        z-index: 10;
    }
    .category-menu__nav .list-group-item:hover {
        background-color: #beddf5
    }

    .category-menu__nav .list-group-item {
        position: relative;
    }
    .category-menu__nav .list-group .list-group {
        display: none;
        position: absolute;
        width: 100%;
        left: 100%;
        top: 0;
    }

    .category-menu__nav .list-group-item:hover > .list-group {
        display: block;
    }
    .category-menu__nav .list-group .list-group-item > .plus {
        display: none;
    }
    /* Menu finush */
}

@media(max-width: 767px) {
    .header .shopping-cart .btn {
        width: 100%;
        background-color: gray;
    }
    .category-menu__nav .list-group .list-group {
        position: static;
        width: 100%;
        padding: 0;
    }
    /* Menu start */
    .category-menu__nav .list-group .list-group-item .list-group {
        margin-top: 10px;
    }
    .category-menu__nav .list-group .list-group-item .list-group .list-group-item {
        border: none;
        padding-inline: 0;
        padding-left: 10px;
    }
    .category-menu__nav .list-group .list-group-item .list-group .list-group-item {
        border-top: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
    }
    .category-menu__nav .list-group .list-group-item .plus {
        display: none;
        position: absolute;
        top: 8px;
        right: 8px;
        outline: none;
        background-color: transparent;
        padding: 0;
        margin: 0;
        border: none;
    }
    .category-menu__nav .list-group .list-group-item:has(ul) > .plus {
        display: block;
        z-index: 10;
    }
    .category-menu__nav .list-group .list-group-item:has(ul.open) {
        padding-bottom: 0;
    }
    .category-menu__nav .list-group .list-group-item:has(ul) ul{
        display: none;
    }
    /* Menu finush */
}

.open {
    display: block !important;
}

.slider .image-wrapper {
    width: 100%;
    aspect-ratio: 3;
}
.slider .image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}