.star-rating {
    display: inline-block;
    font-size: 25px;
    line-height: .75;
}

.star-rating.rating-sending {
    opacity: .2;
}

.star-rating__body {
    position: relative;
}

.star-rating__body:before {
    content: "★★★★★";
    display: block;
}

.star-rating__active {
    position: absolute;
    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.star-rating__active:before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: rgb(255, 251, 0);
}

.star-rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.star-rating__item {
    flex: 0 0 20%;
    height: 100%;
    margin: 0;
    opacity: 0;
}

.star-rating.rating-set .star-rating__item {
    cursor: pointer;
}