{% extends "base.html" %}

{% block content %}
    <section class="title py-3">
        <div class="container">
            <h1 class="display-5">Пошук - {{ query }}</h1>
        </div>
    </section>
    <main >
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
                {% for book in books %}
                    <div class="col">
                        {% include "components/_book-card.html" with book=book %}
                    </div>
                {% empty %}
                    <p>Пошук не дав результатів</p>
                {% endfor %}
            </div>
            {% if page_obj.has_other_pages %}
                <div class="search-pagination mt-2 py-2">
                    {% include "components/_pagination.html" %}
                </div>
            {% endif %}
        </div>
    </main>
{% endblock content %}

