
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page</title>
    {% include "components/_styles.html" %}
</head>
<body class="d-flex flex-column" style="min-height: 100vh">
    {% include "components/_header.html" %}
    <div class="content">
        <div class="container">
            {% block content%} {% endblock content %}
        </div>
    </div>
    {% include "components/_footer.html" %}
    {% include "components/_scripts.html" %}
</body>
</html>