
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            page
        {% endblock title %}
    </title>
    {% block styles %}
        {% include "components/_styles.html" %}
    {% endblock styles %}
</head>
<body class="d-flex flex-column" style="min-height: 100vh">
    {% include "components/_cart_modal.html" %}
    {% include "components/_login_modal.html" %}

    {% include "components/_alerts.html" %}
    

    {% include "components/_header.html" %}
    <div class="content">   
        {% block content%} {% endblock content %}
    </div>
    {% include "components/_footer.html" %}
    {% block scripts %}
        {% include "components/_scripts.html" %}
    {% endblock scripts %}
    
</body>
</html>