    {% load shop_tags %}
    
    <button class="mobile-filter-btn">
        <i class="fa-solid fa-filter"></i>
    </button>

    <div class="filters-sidebar p-3">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h5 class="mb-0">
            <i class="fa-solid fa-filter"></i> Фільтри
        </h5>
        <button type="button" class="btn-close" aria-label="Close"></button>
    </div>
    <form action="{{ request.path }}" method="get" class="catalog-filters">
        <div class="accordion" id="filtersAccordion">
             <!-- Ціна -->
            <div class="accordion-item filter-section">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#priceFilter">
                        Ціна
                    </button>
                </h2>
                <div id="priceFilter" class="accordion-collapse collapse show" >
                    <div class="accordion-body">
                        <div class="dual-range-container">
                            <div class="dual-range-slider">
                                <div class="track" id="priceTrack"></div>
                                {% for fields in filter.form %}
                                    {% if forloop.counter0 < 2 %}   
                                        {% if fields.label == 'price' %}
                                            {% for field in fields %}
                                                <input 
                                                type="{{field.data.type}}" 
                                                name="{{ field.data.name }}"  
                                                id="{{field.data.attrs.id}}" 
                                                min="{{field.data.attrs.min}}" 
                                                max="{{field.data.attrs.max}}" 
                                                class="dual-range-input" 
                                                value="{% if field.data.value %}{{ field.data.value }}{% else %}{{ field.data.attrs.initial}}{% endif %}"
                                                step="1"
                                                >
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="price-display">
                                <div class="price-value">
                                    <span id="minPriceValue">100</span> ₴
                                </div>
                                <span class="text-muted">—</span>
                                <div class="price-value">
                                    <span id="maxPriceValue">1500</span> ₴
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% for fields in filter.form %}
                {% if forloop.counter0 >= 2 %}
                     <div class="accordion-item filter-section">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ fields.name }}Filter">
                                {{ fields.label }}
                            </button>
                        </h2>
                        {% check_param name=fields.name as show %}
                        <div id="{{ fields.name }}Filter" class="accordion-collapse collapse {% if show %}show{% endif %}" >
                            <div class="accordion-body overflow-y-auto" s>
                                {% for field in fields %}
                                    <div class="form-check mb-2">
                                        <input 
                                        class="form-check-input filter-checkbox" 
                                        type="{{field.data.type}}" 
                                        name="{{ field.data.name }}" 
                                        id="{{field.data.attrs.id}}"
                                        value="{{ field.data.value }}"
                                        {% if field.data.selected %}checked{% endif %}
                                        >
                                        <label class="form-check-label d-flex justify-content-between" for="{{field.data.attrs.id}}">
                                            {{ field.data.label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <!-- Кнопки дій -->
        <div class="mt-4 d-grid gap-2">
            <button class="btn btn-primary apply-filters">
                <i class="fa-solid fa-magnifying-glass"></i> Застосувати фільтри
            </button>
            <button class="btn btn-outline-secondary clear-filters">
                <i class="fa-solid fa-broom"></i> Очистити
            </button>
        </div>
    </form>
</div>